@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

body {
  overflow-x: hidden !important;
}

.range-slider .range-slider__thumb,
.range-slider .range-slider__range {
  @apply !bg-primary-100;
}

.range-slider .range-slider__thumb {
  @apply !w-4 !h-4;
}
.range-slider .range-slider__range {
  @apply !h-[3px];
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground bg-[#F0F0F0];
  }
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-weight: 700;
  font-size: 1.75rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h6 {
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

ul,
ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}

ol > li {
  margin-bottom: 0.5rem;
  list-style: decimal !important; /* Use decimal numbering for ordered lists */
}

ul > li {
  margin-bottom: 0.5rem;
  list-style: disc !important; /* Use disc bullet points for unordered lists */
}

li {
  margin-bottom: 0.5rem;
}

pre {
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

code {
  font-size: 0.9em;
  font-family: "Courier New", Courier, monospace;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

del,
s {
  text-decoration: line-through;
}

blockquote {
  margin-left: 1rem;
  border-left: 2px solid #ccc;
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

th,
td {
  padding: 0.5rem;
  border: 1px solid #ddd;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.textLayer {
  display: none !important;
}

